.img1{
    position:absolute;
    top: 150px;
    left: 390px;
    z-index: 1;
    border: 5px solid; color: #ebe8e2;
    opacity: 85%;

  }
  .img2{
    position:absolute;
    top: -250px;
    left: 667px;
    z-index: 2;
  }
  .img3{
      position:absolute;
    top: 30px;
    left: 30px;
    z-index: 2;    
    border: 5px solid #ebe8e2
  }
  .img4{
    position:absolute;
  top: 30px;
  left: 1690px;
  z-index: 2;    
  border: 5px solid #ebe8e2
}
  .bli{
   position:absolute;
  margin-top: 100px;
  margin-left: 520px;
  z-index: 5;
  font-family: ;
  }
  .media{
      position:absolute;
      top: 800px;
      left: 700px;
      font-family: arial;
      font-size: 30px;
      
  }
  .y{
      position:absolute;
      top: 5px;
      left: -10px; 
  }
  .t{
      position:absolute;
      top: -10px;
      left: 150px; 
  }
  .i{
      position:absolute;
      top: 0px;
      left: 290px; 
  }
  .f{
      position:absolute;
      top: -15px;
      left: 410px; 
  }
  .backgrund{background-color:#ebe8e2;}
    
  

  .header {
    padding: 150px;
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 3;
    background:linear-gradient(#8b71eb, #ebe8e2)
    
  }
  h1{
    color: #f32424;
    font-size: 150px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
  }
  h1 span{
    transition: .5s linear
    
  }
  h1:hover span:nth-child(1){
    margin-right: 5px
  }

  h1:hover span:nth-child(2){
    margin-left: 10px
  }
  h1:hover span{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
  a{
    text-decoration-line: none;
  }